<%= simple_form_for(@profile) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
      <% if current_user.roles.first.name == "user" %>
        <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
      <% elsif current_user.roles.first.name == "admin" %>
        <%= f.association :user %>
      <% end %>
      <div class="row">
          <div class="span4">
              <%= f.input :nia, disabled: true, :label => "Nomor Induk Alumni" %>
              <%= f.input :nim, disabled: true, :label => "Nomor Induk Mahasiswa" %>
              <%= f.input :nama %>
              <%= f.input :email %>
              <%= f.input :email_avatar, :label => "Email Avatar" %>
              <%= f.input :tempat_lahir %>
              <%= f.input :tanggal_lahir, :input_html => { :class => 'datepicker' } %>
              <%= f.input :alamat_rumah, :input_html => {:rows => 5}, :label => "Alamat Rumah"  %>

          </div>
          <div class="span4">     
              <%= f.input :ortu, :label => "Nama Orang Tua" %>
              <%= f.input :nomor_HP, :label => "Nomor Handphone" %>
              <%= f.input :keahlian, :label => "Keahlian" %>
  <%#= f.input :ipk, disabled: true, :label => "Index Prestasi Komulatif" %>
  <%#= f.input :sks_ditempuh, :label => "SKS Telah di Tempuh" %>
  <%#= f.input :jmh_bobot_x_kredit, :label => "Jumlah Bobot x Kredit" %>
  <%#= f.input :nilai_lta, :label => "Nilai LTA" %>
              <%= f.input :ipka, :label => "Index Prestasi" %>
              <%= f.input :no_wa, :label => "Nomor Whatapps" %>
              <%= f.input :nomor_telp, :label => "Nomor Telepon" %>
              <%= f.input :pinbb, :label => "PIN Blackberry" %>
              <%= f.input :facebook, :label => "Facebook" %>
              <%= f.input :blog, :label => "Blog" %>
              <%= f.input :web, :label => "Website" %>
              <%= f.input :tempat_pkl, :input_html => {:width => 30}, :label => "Tempat PKL" %>
              <%= f.input :judul_ta, :input_html => {:rows => 3}, :label => "Judul Tugas Akhir" %>
          </div>
          <div class="span4">
              <%= f.input :nama_instansi_first, :label => "Nama Instansi Pertama Kerja" %>
              <%= f.input :jabatan_first, :label => "Jabatan Pertama Kerja" %>
              <%= f.input :tanggal_masuk_kerja_first, :label => "Tanggal Pertama Kerja", :input_html => { :class => 'datepicker' } %>
              <%= f.input :nama_instansi_last, :label => "Nama Instansi Berikutnya" %>
              <%= f.input :jabatan_last, :label => "Jabatan Berikutnya" %>
              <%= f.input :tanggal_masuk_kerja_last, :label => "Tanggal Kerja Berikutnya", :input_html => { :class => 'datepicker' } %>
          </div>
      </div>
  </div>

  <div class="form-actions">
      <%= f.button :submit %>
  </div>
<% end %>
<%=  %>