<div class="page-header">
    <h3>Daftar Profiles</h3>
</div>

<table class="table table-bordered responsive datatables">
    <thead>
        <tr>
            <th width="25%">Email User</th>
            <th width="25%">First Name</th>
            <th width="25%">Last Name</th>
            <th width="15%"></th>
        </tr>
    </thead>
    <tbody>
        <% @profiles.each do |profile| %>
          <tr>
              <td><%= profile.user.email %></td>
              <td><%= profile.first_name %></td>
              <td><%= profile.last_name %></td>
              <td><%= link_to 'Tampilkan', profile, :class => 'btn btn-mini' %>
              <%= link_to 'Perbaiki', edit_profile_path(profile), :class => 'btn btn-mini'  %>
              <%#= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini' %></td>
          </tr>
        <% end %>
    </tbody>
</table>

<br />

<%#= link_to 'New Profile', new_profile_path %>
