<div class="page-header">
<h3><%= @profile.first_name %> <%= @profile.last_name %>'s Profile</h3>
</div>

<p>
  <b>Email User :</b>
  <%= @profile.user.email %>
</p>


<%= link_to 'Perbaiki', edit_profile_path(@profile), :class => 'btn btn-default' %>
