<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
    <Worksheet ss:Name="Sheet1">
        <Table>
            <Row>
                <Cell><Data ss:Type="String">Nama Lengkap</Data></Cell>
                <Cell><Data ss:Type="String">Tempat /Tanggal Lahir</Data></Cell>
                <Cell><Data ss:Type="String">NIM</Data></Cell>
                <Cell><Data ss:Type="String">Konsentrasi</Data></Cell>
                <Cell><Data ss:Type="String">Keahlian</Data></Cell>
                <Cell><Data ss:Type="String">Nama Orang Tua</Data></Cell>
                <Cell><Data ss:Type="String">Alamat Asal</Data></Cell>
                <Cell><Data ss:Type="String">Nomor Telepon</Data></Cell>
                <Cell><Data ss:Type="String">Lokasi PKL</Data></Cell>
                <Cell><Data ss:Type="String">Judul LTA</Data></Cell>
            </Row>
            <% Concentration.find(:all).each do |konsentrasi| %>
              <% if Profile.where(:approved => true).where("concentration_id = ?", "#{konsentrasi.id}").where("tahun_wisuda = ?", "#{@profile.tahun_wisuda}").size != 0 %>
                <% Profile.where(:approved => true).where("concentration_id = #{konsentrasi.id}").where("tahun_wisuda = ?", "#{@profile.tahun_wisuda}").order("nim ASC").each do |x| %>
                  <Row>
                      <Cell><Data ss:Type="String"><%= x.nama %></Data></Cell>
                      <Cell><Data ss:Type="String"><%= x.tempat_lahir %>, <%= x.tanggal_lahir %></Data></Cell>
                      <Cell><Data ss:Type="String"><%= x.nim %></Data></Cell>
                      <Cell><Data ss:Type="String"><%= x.concentration.title %></Data></Cell>
                      <Cell><Data ss:Type="String"><%= x.keahlian %></Data></Cell>
                      <Cell><Data ss:Type="String"><%= x.ortu %></Data></Cell>
                      <Cell><Data ss:Type="String"><%= x.alamat_rumah %></Data></Cell>
                      <Cell><Data ss:Type="String"><%= x.nomor_telp %></Data></Cell>
                      <Cell><Data ss:Type="String"><%= x.tempat_pkl %></Data></Cell>
                      <Cell><Data ss:Type="String"><%= x.judul_ta %></Data></Cell>
                  </Row>
                <% end %>
              <% end %>
            <% end %>
        </Table>

    </Worksheet>
</Workbook>

