<div class="page-header">
    <h3>Data Wisuda</h3>
</div>
<table class="table table-bordered responsive datatables">
    <thead>
        <tr>
            <th class="span1">Tahun Wisuda</th>
            <th class="span5">Jumlah Peserta</th>
            <th class="span2"></th>
        </tr>
    </thead>
    <tbody>
        <% n = 0 %>
        <% @profiles.each do |x| %>
          <% masuk = x.tahun_wisuda %>
          <% if n != masuk %> 
            <tr>
                <td class="span1"><%= masuk %></td>
                <td class="span5">
                    <%= Profile.where(:approved => true).where("tahun_wisuda = ?", "#{masuk}").size %> Peserta, terdiri dari :<br />
                    <% Concentration.find(:all).each do |konsentrasi| %>
                      <% if Profile.where(:approved => true).where("concentration_id = ?", "#{konsentrasi.id}").where("tahun_wisuda = ?", "#{masuk}").size != 0 %>
                        - <%= konsentrasi.title %> : <%= Profile.where(:approved => true).where("concentration_id = ?", "#{konsentrasi.id}").where("tahun_wisuda = ?", "#{masuk}").size %> Mahasiswa (NIM : <%=  Profile.where(:approved => true).where("concentration_id = ?", "#{konsentrasi.id}").where("tahun_wisuda = ?", "#{masuk}").first.nim %> s/d <%=  Profile.where(:approved => true).where("concentration_id = ?", "#{konsentrasi.id}").where("tahun_wisuda = ?", "#{masuk}").last.nim %>)<br />
                      <% end %>
                    <% end %>
                </td>
                <td class="span2"><%= link_to('<i class="glyphicon-cloud-download">Tampil</i>'.html_safe, admin_book_path(x.tahun_wisuda), :class => 'btn btn-primary') %>&nbsp;<%= link_to('<i class="glyphicon-cloud-download">Download</i>'.html_safe, admin_book_download_xls_path(masuk, format: "xls"), :class => 'btn btn-primary') %></td>
            </tr>
            <% n = masuk %>
          <% end %>
        <% end %>
    </tbody>
</table>