<div class="page-header">
    <h3>Data Wisuda Tahun <%= @profile.tahun_wisuda %></h3>
</div>
<% Concentration.find(:all).each do |konsentrasi| %>
  <% if Profile.where(:approved => true).where("concentration_id = ?", "#{konsentrasi.id}").where("tahun_wisuda = ?", "#{@profile.tahun_wisuda}").size != 0 %>
    <h5><%= konsentrasi.title %> : <%= Profile.where(:approved => true).where("concentration_id = ?", "#{konsentrasi.id}").where("tahun_wisuda = ?", "#{@profile.tahun_wisuda}").size %> Mahasiswa</h5>
    <style>
        .table-borderless td,
        .table-borderless th {
            border: 0;
            padding: 0;
            valign: top;
        }
    </style>
    <table class="table table-bordered responsive datatables">
        <thead>
            <tr>
                <th class="span11">Data Wisuda</th>
                <th class="span1">Foto</th>
            </tr>
        </thead>
        <tbody>
            <% Profile.where(:approved => true).where("concentration_id = ?", "#{konsentrasi.id}").where("tahun_wisuda = ?", "#{@profile.tahun_wisuda}").order("nim ASC").each do |x| %>
              <tr>
                  <td class="span12">
                      <table class='table-borderless'>
                          <tr><td width="22%">Nama Lengkap&nbsp;&nbsp;</td><td>&nbsp;&nbsp;:&nbsp;&nbsp;</td><td width="78%"><span style="text-transform: uppercase;"><%= x.nama %></span></td></tr> 
                          <tr><td>Tempat /Tanggal Lahir&nbsp;&nbsp;</td><td>&nbsp;&nbsp;:&nbsp;&nbsp;</td><td><%= x.tempat_lahir %><% unless x.tanggal_lahir.nil? || x.tanggal_lahir == "" %>, <%= indonesia_date((x.tanggal_lahir).to_date) %> <% end %></td></tr> 
                          <tr><td>NIM&nbsp;&nbsp;</td><td>&nbsp;&nbsp;:&nbsp;&nbsp;</td><td><%= x.nim %></td></tr> 
                          <tr><td>Konsentrasi&nbsp;&nbsp;</td><td>&nbsp;&nbsp;:&nbsp;&nbsp;</td><td><%= x.concentration.title %></td></tr> 
                          <tr><td>Keahlian&nbsp;&nbsp;</td><td>&nbsp;&nbsp;:&nbsp;&nbsp;</td><td><%= x.keahlian %></td></tr> 
                          <tr><td>IPK&nbsp;&nbsp;</td><td>&nbsp;&nbsp;:&nbsp;&nbsp;</td><td><% if x.nilai_lta == "" %>0.0<% else %><%= x.ipka %><% end %></td></tr> 
                          <tr><td>Nama Orang Tua&nbsp;&nbsp;</td><td>&nbsp;&nbsp;:&nbsp;&nbsp;</td><td><%= x.ortu %></td></tr> 
                          <tr><td>Alamat Asal&nbsp;&nbsp;</td><td>&nbsp;&nbsp;:&nbsp;&nbsp;</td><td><%= x.alamat_rumah %></td></tr> 
                          <tr><td>Nomor Telepon&nbsp;&nbsp;</td><td>&nbsp;&nbsp;:&nbsp;&nbsp;</td><td><%= x.nomor_telp %></td></tr> 
                          <tr><td>Lokasi PKL&nbsp;&nbsp;</td><td>&nbsp;&nbsp;:&nbsp;&nbsp;</td><td><%= x.tempat_pkl %></td></tr> 
                          <tr><td>Judul LTA&nbsp;&nbsp;</td><td>&nbsp;&nbsp;:&nbsp;&nbsp;</td><td><%= x.judul_ta %></td></tr> 
                      </table>
                      <br />
                  </td>
                  <td  class="span1">
          <center>
              <%= image_tag avatar_url(x.email_avatar, 100), :class => "img-rounded" %><br/>
              <h3 style="color: lightgray;">#<%= ("#{(x.nim).split('')[4]}#{(x.nim).split('')[5]}#{(x.nim).split('')[6]}#{(x.nim).split('')[7]}").to_i %></h3>
          </center>
      </td>
      </tr>
    <% end %>
    </tbody>
    </table>
    <br />
  <% end %>
<% end %>
