<div class="page-header">
    <h3>Perbaiki Password</h3>
</div>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors resource %>
  <%#= f.input :username, :autofocus => true, :label => "NIM" %>
  <%#= f.input :email, :required => true %>
  <%= f.input :password, :autocomplete => "off", :required => false %>
  <%= f.input :password_confirmation, :required => false %>
  <%= f.input :current_password, :required => true %>
  <%= f.button :submit, 'Update Password', :class => 'btn-primary' %>
<% end %>
