<script>
  $(document).ready(function() {
    $('#user_profile_attributes_jmh_bobot_x_kredit').keyup(function() {
        if ($('#user_profile_attributes_jmh_bobot_x_kredit').val() != "")
        {
            var bobotxkredit = parseFloat($('#user_profile_attributes_jmh_bobot_x_kredit').val()) || 0;
            var total = bobotxkredit / 115;
            $('#user_profile_attributes_ipk').val(total.toFixed(2));
        }
    });
});
</script>
<div class="page-header">
    <h3>Daftar</h3>
</div>
<% resource.build_profile %>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), validate: true, :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors resource %>
  <%= f.input :username, :autofocus => true, :label => "Nomor Induk Mahasiswa", validate: { presence: true, uniqueness: false } %>
  <%= f.simple_fields_for :profile do |p| %>
    <%= p.input :nama, :label => "Nama Lengkap" %>
    <%= p.input :tanggal_lahir, :label => "Tanggal Lahir" %>
    <%#= p.input :tanggal_lahir, :input_html => { :class => 'datepicker' } %>
    <%= p.input :tahun_masuk, as: :date, :label => "Angkatan", start_year: Date.today.year,
      end_year: Date.today.year - 15, order: [:year] %>
    <%= p.input :tgl_lulus, :label => "Tanggal Lulus" %>
    <%= p.input :nomor_HP, :label => "Nomor Handphone" %>
    <%#= p.input :tgl_lulus, :label => "Tanggal Lulus", :input_html => { :class => 'datepicker' } %>
    <%#= p.input :jmh_bobot_x_kredit, :label => "Jumlah Bobot x Kredit" %>
    <%#= p.input :ipk, :label => "Index Prestasi Komulatif" %>
    <%= p.input :concentration_id, collection: Concentration.all, label_method: :title, value_method: :id, label: "Konsentrasi", include_blank: false %>
  <% end %>
  <%= f.input :email, :required => true, validate: { presence: true }  %>
  <%= f.input :password, :as => :hidden, :input_html => { :value => '123456' }, validate: { presence: true }  %>
  <%= f.input :password_confirmation, :as => :hidden, :input_html => { :value => '123456' }, :required => true, validate: { presence: true } %>
  <%= f.button :submit, 'Daftar', :class => 'btn-primary' %>
<% end %>
<%= render "devise/shared/links" %>
