Halo <%= @user.profile.nama %>,<br />
Akun anda telah aktif dengan informasi login sebagai berikut :<br /><br />
NIS : <%= @user.username %><br />
Password : 123456 (Default Sistem)<br /><br />
Silahkan anda login dengan informasi di atas, demi keamanan data anda slahkan ganti password anda
