<div class="page-header">
<h3>Daftar Pengguna</h3>
</div>
<br />
<table class="table table-bordered responsive datatables">
  <thead>
    <tr>
      <th width="10%">NIM</th>
      <th width="15%">Email</th>
      <th width="10%">Nama Alumni</th>
      <th width="10%">Registered</th>
      <th width="10%">Status</th>
      <th width="7%">Role</th>
      <th width="20%"></th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.username %><%#= link_to user.username, user %></td>
      <td><%= user.email %></td>
      <td><%= user.profile.nama rescue nil %></td>
      <td><%= user.created_at.to_date %></td>
      <td><%= user.approved %></td>
      <td><%= user.roles.first.name.titleize unless user.roles.first.nil? %></td>
      <td>
        <a data-toggle="modal" href="#role-options-<%= user.id %>" class="btn btn-mini" type="button">Change role</a>
        <%= render user %>
        <%= link_to("Reset Password", user_reset_password_path(user), :class => 'btn btn-mini') %>
        <%#= link_to("Persetujuan", user_aproval_path(user), :class => 'btn btn-mini') %>
        <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') unless user == current_user %></td>
    </tr>
  <% end %>
  </tbody>
</table>
