<div class="page-header">
    <h3>Verifikasi Data Alumni</h3>
</div>

<%= form_tag(user_proses_path, :html => {:class => 'form-vertical' }) do %>
  <div class="form-group">
      <label for="exampleInputEmail1">Nomor Induk Mahasiswa (Sesuai Ijazah)</label>
      <%= text_field_tag :nim %>
  </div>
  <div class="form-group">
      <label for="exampleInputEmail1">Nama Mahasiswa (Sesuai Ijazah)</label>
      <%= text_field_tag :nama %>
  </div>
  <div class="form-group">
      <label for="exampleInputEmail1">Email</label>
      <%= text_field_tag :email %>
  </div>
  <%= submit_tag "Verifikasi", :class => "btn btn-primary" %>
<% end %>