<div class="page-header">
 <h3>Ganti Password</h3>
</div>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div><%= f.label :password, "Password Baru" %><br />
  <%= f.password_field :password, :autofocus => true %></div>

  <div><%= f.label :password_confirmation, "Konfirmasi Password Baru" %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Ganti Password", :class => 'btn btn-primary' %></div>
<% end %>
