<div class="page-header">
    <h3>Lupa Password ?</h3>
</div>
<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.input :login, :autofocus => true, :label => "NIA atau Email" %>
  <%= f.button :submit, "Perbaikan Password", :class => 'btn-primary' %>
<% end %>
