<div class="page-header">
    <h3>Tracer Study AMA Yogyakarta</h3>
</div>
<div class="row">
    <%#*<div class="span6">%>
        <%#= image_tag("tracer.png", :alt => "home image", :width => 500, :height => 500, :title => "Click here to return to Home") %>
    <%#*</div>%>
    <div class="span12">    
        <table class="table table-bordered responsive datatables">
            <thead>
                <tr>
                    <th class="span6">Nama Pengguna</th>
                    <th class="span4">Email</th>
                    <th class="span2">Status</th>
                </tr>
            </thead>
            <tbody>
                <% @users.each do |user| %>
                  <tr>
                      <td><%= user.profile.nama rescue nil %></td>
                      <td><%= user.email %></td>
                      <td>
                          <% if user.approved == true %>
                            <i class="icon-ok-sign"></i>
                          <% elsif user.approved == false %>
                            <i class="icon-remove-sign"></i>
                          <% end %>
                      </td>
                  </tr>   
                <% end %>
            </tbody>
        </table>
    </div>
</div>
