<div class="page-header">
 <h3>Ganti Password</h3>
</div>

  <%= form_for(@user, :url => { :action => "update" } ) do |f| %>
    <div><%= f.label :password, "Password Baru" %><br />
    <%= f.password_field :password, :autocomplete => "off"  %>
  </div>
    <div><%= f.label :password_confirmation, "Konfirmasi Password Baru" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div><%= f.submit "Ganti Password", :class => 'btn btn-primary' %></div>
<% end %>