<% if current_user.roles.first.name == "user" %>
  <div class="page-header">
      <% if  current_user.profile.blank? == false %>
        <h3>Selamat Datang <%= current_user.profile.nama %>'s Dashboard</h3>
      <% else %>
        <h3>Selamat Datang <%= current_user.profile.name %>'s Dashboard</h3>
      <% end  %>
  </div>
  <div class="row">
      <div class="span2"><%= image_tag avatar_url(current_user.profile.email_avatar, 200), :class => "img-circle" %></div>
      <div class="span5">
          <h5>DATA STUDI</h5>
          <table>
              <tr>
                  <td class="span2">Nomor Induk Mahasiswa</td>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                  <td><%= current_user.profile.nim %></td>
              </tr>
              <tr>
                  <td>Nomor Induk Alumni</td>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                  <td><%= current_user.profile.nia %></td>
              </tr>
              <tr>
                  <td>Nama Lengkap</td>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                  <td><%= current_user.profile.nama %></td>
              </tr>
              </tr>
              <tr>
                  <td>Email</td>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                  <td><%= current_user.email %></td>
              </tr>
              <tr>
                  <td>Program Studi</td>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                  <td>Manajemen Administrasi</td>
              </tr>
              <tr>
                  <td>Konsentrasi</td>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                  <td><%= current_user.profile.concentration.title %></td>
              </tr>
              <tr>
                  <td>Tahun Masuk</td>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                  <td><%= (current_user.profile.tahun_masuk).strftime("%Y") %></td>
              </tr>
              <tr>
                  <td>Tanggal Lulus</td>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                  <td><%= current_user.profile.tgl_lulus %></td>
              </tr>
               <tr>
                  <td>Judul TA</td>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                  <td><%= current_user.profile.judul_ta %></td>
              </tr>
              <tr>
                  <td>Tempat PKL</td>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                  <td><%= current_user.profile.tempat_pkl %></td>
              </tr>
              <tr>
                  <td>Index Prestasi</td>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                  <td><%= current_user.profile.ipk %></td>
              </tr>
              <tr>
                  <td>Keahlian</td>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                  <td><%= current_user.profile.keahlian %></td>
              </tr>
          </table>
          <h5>DATA PRIBADI</h5>
          <table>
              <tr>
                  <td class="span2">Tempat Tangal Lahir</td>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                  <td><%= current_user.profile.tempat_lahir %>, <%= current_user.profile.tanggal_lahir %></td>
              </tr>
              <tr>
                  <td>Alamat Rumah</td>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                  <td><%= current_user.profile.alamat_rumah %></td>
              </tr>
              <tr>
                  <td>Nama Orang Tua</td>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                  <td><%= current_user.profile.ortu %></td>
              </tr>
              <tr>
                  <td>Nomor Handphone</td>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                  <td><%= current_user.profile.nomor_HP %></td>
              </tr>
              <tr>
                  <td>Nomor Whatapps</td>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                  <td><%= current_user.profile.no_wa %></td>
              </tr>
              <tr>
                  <td>Nomor Telephone</td>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                  <td><%= current_user.profile.nomor_telp %></td>
              </tr>
              <tr>
                  <td>Blackbery Messangeer</td>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                  <td><%= current_user.profile.pinbb %></td>
              </tr>
              <tr>
                  <td>Facebook</td>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                  <td><%= current_user.profile.facebook %></td>
              </tr>
              <tr>
                  <td>Blog</td>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                  <td><%= current_user.profile.blog %></td>
              </tr>
              <tr>
                  <td>Website</td>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                  <td><%= current_user.profile.web %></td>
              </tr>
          </table>
      </div>
      <div class="span5">
          <table>
             
          </table>
          <h5>DATA PEKERJAAN PERTAMA SETELAH LULUS</h5>
          <table>
              <tr>
                  <td class="span2">Nama Instansi</td>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                  <td><%= current_user.profile.nama_instansi_first %></td>
              </tr>
              <tr>
                  <td>Jabatan</td>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                  <td><%= current_user.profile.jabatan_first %></td>
              </tr>
              <tr>
                  <td>Tanggal Masuk Kerja</td>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                  <td><%= current_user.profile.tanggal_masuk_kerja_first %></td>
              </tr>
          </table>
          <h5>DATA PEKERJAAN TERBARU</h5>
          <table>
              <tr>
                  <td class="span2">Nama Instansi</td>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                  <td><%= current_user.profile.nama_instansi_last %></td>
              </tr>
              <tr>
                  <td>Jabatan</td>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                  <td><%= current_user.profile.jabatan_last %></td>
              </tr>
              <tr>
                  <td>Tanggal Masuk Kerja</td>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                  <td><%= current_user.profile.tanggal_masuk_kerja_last %></td>
              </tr>
          </table>
         
      </div>
  </div>
  <hr />
<% elsif current_user.roles.first.name == "admin" %>
  <%= render 'admin/dashboards/index' %>
<% end %>

