<div class="page-header">
    <h3>Cetak Kartu Alumni</h3>
</div>
<style type="text/css" media="all">
    .papersetengahA4{
        background-color: White;
        border: 1px dashed #66ff66;
        font-family: "Trebuchet MS",Arial,Tahoma,Verdana;
        height: 55mm;
        padding: 1px;
        width: 85mm;
    }
    .table-borderless td,
    .table-borderless th {
        border: 1;
        padding: 0;
        valign: top;
    }
</style>
<script language="javascript" type="text/javascript">
  function printOut() {
      var getDisplay = document.getElementById("printarea").innerHTML;

      var setPrint = window.open("", "printed", "width=500,height=200,menubar=0,scrollbars=1,statusbar=0");
      setPrint.document.open();
      setPrint.document.write('<html>');
      setPrint.document.write('<head>');
      setPrint.document.write('<meta http-equiv="pragma" content="no-cache">');
      setPrint.document.write("<title>KARTU ALUMNI</title>");
      //setPrint.document.write('<link href="include/cetakkumulatif.css" rel="stylesheet" type="text/css">');
      setPrint.document.write('</head>');
      setPrint.document.write('<body onLoad="self.print()">');
      setPrint.document.write(getDisplay);
      setPrint.document.write('</body></html>');
      setPrint.document.close();
      window.close("", "printed");
  }
</script>
<input class="btn" data-dismiss="modal" id="btncetakkhs" value="Cetak" onclick="printOut();" type="button">
<div id="printarea" class="papersetengahA4">
    <style type="text/css" media="all">
    .papersetengahA4{
        background-color: White;
        border: 1px dashed #66ff66;
        font-family: "Trebuchet MS",Arial,Tahoma,Verdana;
        height: 55mm;
        padding: 1px;
        width: 85mm;
    }
    .table-borderless td,
    .table-borderless th {
        border: 1;
        padding: 0;
        valign: top;
    }
</style>
<script language="javascript" type="text/javascript">
  function printOut() {
      var getDisplay = document.getElementById("printarea").innerHTML;

      var setPrint = window.open("", "printed", "width=500,height=200,menubar=0,scrollbars=1,statusbar=0");
      setPrint.document.open();
      setPrint.document.write('<html>');
      setPrint.document.write('<head>');
      setPrint.document.write('<meta http-equiv="pragma" content="no-cache">');
      setPrint.document.write("<title>KARTU ALUMNI</title>");
      //setPrint.document.write('<link href="include/cetakkumulatif.css" rel="stylesheet" type="text/css">');
      setPrint.document.write('</head>');
      setPrint.document.write('<body onLoad="self.print()">');
      setPrint.document.write(getDisplay);
      setPrint.document.write('</body></html>');
      setPrint.document.close();
      window.close("", "printed");
  }
</script>
    <div  style="width:80mm; height:50mm; border: 2px solid black;">
        <table class="table-borderless" style="margin-top:16mm">
            <tr><td colspan="2" align="center" style="font-size:19px;"><b>KARTU TANDA ALUMNI</b><br/><br/></td></tr>
            <tr>
                <td>
                   <div style="margin-left: 2mm;width:15mm; height:20mm; border: 2px solid black;"></div>
                </td>
                <td>
                    <table class="table-borderless" style="margin-left: 2mm;margin-top: -40px;">
                        <tr><td>Nama Alumni</td><td>&nbsp;:&nbsp;</td><td><%= @user.profile.nama %></td></tr>
                        <tr><td>NIA</td><td>&nbsp;:&nbsp;</td><td><%= @user.profile.nia %></td></tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>