<div class="page-header">
    <h3>Selamat Datang Administrator's Dashboard</h3>
</div>
<div class="row">
    <div class="span12">
        <table>
            <tr>
                <td class="span4">Nomor Alumni Selanjutnya</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                <td><%= "%04d" % (User.includes(:roles).where("roles.name = 'user'").where(:approved => true).size + 1).to_s %></td>
            </tr>
        </table>
        <h5>DATA STATISTIK BERDASAR KONSENTRASI</h5>
        <table class="table table-bordered">
            <tr>
                <th class="span8">Konsentrasi</th>
                <th class="span2">Alumni Telah Aktif</th>
                <th class="span2">Alumni Belum Aktif</th>
            </tr>
            <% Concentration.find(:all).each do |konsentrasi| %>
              <tr>
                  <td class="span4"><%= konsentrasi.title %></td>
                  <td><%= Profile.where("concentration_id = ?", "#{konsentrasi.id}" ).where(:approved => true).count %> Alumni</td>
                  <td><%= Profile.where("concentration_id = ?", "#{konsentrasi.id}" ).where(:approved => false).count %> Alumni</td>
              </tr>
            <% end %>
            <tr>
                <td><b>Jumlah Total Alumni</b></td>
                <td><%= (User.includes(:roles).where("roles.name = 'user'").where(:approved => true).size).to_s %> Alumni</td>
                <td><%= (User.includes(:roles).where("roles.name = 'user'").where(:approved => false).size).to_s %> Alumni</td>
            </tr>
        </table>
    </div>
</div>
<br/>
<div class="row">
    <div class="span12">
        <h5>DATA STATISTIK BERDASAR TAHUN ANGKATAN</h5>
        <table class="table table-bordered">
            <tr>
                <th class="span3">Tahun Angkatan</th>
                <th class="span3">Belum Bekerja</th>
                <th class="span3">Telah Bekerja</th>
                <th class="span3">Total Mahasiswa</th>
            </tr>
            <% n = 0 %>
            <% Profile.where(:approved => true).order('tahun_masuk ASC').each do |x| %>
              <% masuk = (x.tahun_masuk).strftime("%Y") %>
              <% if n != masuk %> 
                <% belum_bekerja  = Profile.where(:approved => true).where('extract(year from tahun_masuk) = ?', masuk).where("nama_instansi_first IS NULL or nama_instansi_first = ''").count %>
                <% telah_bekerja  = Profile.where(:approved => true).where('extract(year from tahun_masuk) = ?', masuk).where("nama_instansi_first !=''").count %>
                <% total = Profile.where(:approved => true).where('extract(year from tahun_masuk) = ?', masuk).count %>
                <tr>
                    <td class="span2">Tahun <%= masuk %></td>
                    <td class="span2"><%= belum_bekerja %> Alumni | <%= number_with_precision("#{((belum_bekerja).to_f/(total).to_f)*100.0}", :precision => 2) %> %</td>
                    <td class="span2"><%= telah_bekerja %> Alumni | <%= number_with_precision("#{((telah_bekerja).to_f/(total).to_f)*100.0}", :precision => 2) %> %</td>
                    <td class="span2"><%= total %> Alumni</td>
                </tr>
                <% n = masuk %>
              <% end %>
            <% end %>
            <tr>
                <th class="span2">Total Seluruh Angkatan</th>
                <th class="span2"><%= Profile.where(:approved => true).where("nama_instansi_first IS NULL or nama_instansi_first = ''").count %> Alumni</th>
                <th class="span2"><%= Profile.where(:approved => true).where("nama_instansi_first != ''").count %> Alumni</th>
                <th class="span2"><%= (User.includes(:roles).where("roles.name = 'user'").where(:approved => true).size).to_s %> Alumni</th>
            </tr>
        </table>
        <br />
        <%= link_to('<i class="glyphicon-cloud-download">Download Excel</i>'.html_safe, admin_dashboards_path(format: "xls"), :class => 'btn btn-primary') %>
    </div>
</div>