<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">NIM</Data></Cell>
        <Cell><Data ss:Type="String">NIA</Data></Cell>
        <Cell><Data ss:Type="String">Nama Lengkap</Data></Cell>
        <Cell><Data ss:Type="String">Konsentrasi</Data></Cell>
        <Cell><Data ss:Type="String">Angkatan</Data></Cell>
        <Cell><Data ss:Type="String">Tanggal Lulus</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">Tempat Tanggal Lahir</Data></Cell>
        <Cell><Data ss:Type="String">Alamat Rumah</Data></Cell>
        <Cell><Data ss:Type="String">Nama Orang Tua</Data></Cell>
        <Cell><Data ss:Type="String">Nomor Handphone</Data></Cell>
        <Cell><Data ss:Type="String">Index Prestasi</Data></Cell>
        <Cell><Data ss:Type="String">Nomor Whatapps</Data></Cell>
        <Cell><Data ss:Type="String">Nomor Telephone</Data></Cell>
        <Cell><Data ss:Type="String">PIN Blackbarry</Data></Cell>
        <Cell><Data ss:Type="String">Facebook</Data></Cell>
        <Cell><Data ss:Type="String">Blog</Data></Cell>
        <Cell><Data ss:Type="String">Website</Data></Cell>
        <Cell><Data ss:Type="String">Nama Instansi Pekerjaan 1</Data></Cell>
        <Cell><Data ss:Type="String">Jabatan Pekerjaan 1</Data></Cell>
        <Cell><Data ss:Type="String">Tasnggal Masuk Pekerjaan 1</Data></Cell>
        <Cell><Data ss:Type="String">Nama Instansi Pekerjaan 2</Data></Cell>
        <Cell><Data ss:Type="String">Jabatan Pekerjaan 2</Data></Cell>
        <Cell><Data ss:Type="String">Tasnggal Masuk Pekerjaan 2</Data></Cell>
      </Row>
    <% @users.each do |form| %>
      <Row>
        <Cell><Data ss:Type="String"><%= form.profile.nim %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.profile.nia %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.profile.nama %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.profile.concentration.title %></Data></Cell>
        <Cell><Data ss:Type="String"><%= (form.profile.tahun_masuk).strftime("%Y") %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.profile.tgl_lulus %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.profile.tempat_lahir %>, <%= form.profile.tanggal_lahir %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.profile.alamat_rumah %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.profile.ortu %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.profile.nomor_HP %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.profile.ipk %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.profile.no_wa %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.profile.nomor_telp %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.profile.pinbb %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.profile.facebook %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.profile.blog %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.profile.web %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.profile.nama_instansi_first %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.profile.jabatan_first %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.profile.tanggal_masuk_kerja_first %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.profile.nama_instansi_last %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.profile.jabatan_last %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.profile.tanggal_masuk_kerja_last %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>

