<script>
  $(document).ready(function () {
      $('#profile_jmh_bobot_x_kredit').keyup(function () {
          if ($('#profile_jmh_bobot_x_kredit').val() != "" && $('#profile_sks_ditempuh').val() != "")
          {
              var bobotxkredit = parseFloat($('#profile_jmh_bobot_x_kredit').val()) || 0;
              var sks = parseFloat($('#profile_sks_ditempuh').val()) || 0;
              var total = bobotxkredit / sks;
              var nilailta = parseFloat($('#profile_nilai_lta').val()) || 0;
              var total1 = (bobotxkredit + (nilailta * 5)) / 120;
              $('#profile_ipka').val(total1.toFixed(2));
              $('#profile_ipka_view').val(total1.toFixed(2));
              $('#profile_ipk').val(total.toFixed(2));
              $('#profile_ipk_view').val(total.toFixed(2));
          }
      });
      $('#profile_sks_ditempuh').keyup(function () {
          if ($('#profile_jmh_bobot_x_kredit').val() != "" && $('#profile_sks_ditempuh').val() != "")
          {
              var bobotxkredit = parseFloat($('#profile_jmh_bobot_x_kredit').val()) || 0;
              var sks = parseFloat($('#profile_sks_ditempuh').val()) || 0;
              var total = bobotxkredit / sks;
              $('#profile_ipk_view').val(total.toFixed(2));
              $('#profile_ipk').val(total.toFixed(2));
          }
      });
      $('#profile_nilai_lta').keyup(function () {
          if ($('#profile_jmh_bobot_x_kredit').val() != "" && $('#profile_nilai_lta').val() != "")
          {
              var bobotxkredit = parseFloat($('#profile_jmh_bobot_x_kredit').val()) || 0;
              var nilailta = parseFloat($('#profile_nilai_lta').val()) || 0;
              var total = (bobotxkredit + (nilailta * 5)) / 120;
              $('#profile_ipka_view').val(total.toFixed(2));
              $('#profile_ipka').val(total.toFixed(2));
          }
      });
  });
</script>
<%= simple_form_for (@profile) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
      <div class="row">
          <div class="span4">
              <%= f.input :nia, disabled: true, :label => "Nomor Induk Alumni" %>
              <%= f.input :nim, :label => "Nomor Induk Mahasiswa" %>
              <%= f.input :nama %>
              <%= f.input :concentration_id, collection: Concentration.all, label_method: :title, value_method: :id, label: "Konsentrasi", include_blank: false %>
              <%= f.input :tahun_masuk, as: :date, :label => "Angkatan", start_year: Date.today.year,
                end_year: Date.today.year - 15, order: [:year] %>
              <%= f.input :tgl_lulus, :label => "Tanggal Lulus", :input_html => { :class => 'datepicker' } %>
              <%= f.input :email, :input_html => { :value => @profile.user.email } %>
              <%= f.input :email_avatar %>
              <%= f.input :tempat_lahir %>
              <%= f.input :tanggal_lahir, :input_html => { :class => 'datepicker' } %>
              <%= f.input :alamat_rumah, :input_html => {:rows => 5}, :label => "Alamat Rumah"  %>

          </div>
          <div class="span4">
              <%= f.input :ortu, :label => "Nama Orang Tua" %>
              <%= f.input :nomor_HP, :label => "Nomor Handphone" %>
              <%= f.input :keahlian, :label => "Keahlian" %>
  <%#= f.input :jmh_bobot_x_kredit, :label => "Jumlah Bobot x Kredit" %>
  <%#= f.input :sks_ditempuh, disabled: true , :input_html => { :value => '115' }, :label => "SKS Telah di Tempuh" %>
  <%#= f.input :sks_ditempuh, :as => :hidden, :input_html => { :value => '115' }, :label => "SKS Telah di Tempuh" %>
  <%#= f.input :ipk_view, disabled: true, :input_html => { :value => number_with_precision(@profile.ipk, precision: 2) }, :label => "Index Prestasi Komulatif" %>
  <%#= f.input :ipk, :as => :hidden, :label => "Index Prestasi Komulatif" %>
  <%#= f.input :nilai_lta, :label => "Nilai LTA" %>
  <%#= f.input :ipka_view, disabled: true, :input_html => { :value => @profile.ipka }, :label => "Index Prestasi Akhir" %>
              <%= f.input :ipka, :label => "Index Prestasi" %>
              <%= f.input :no_wa, :label => "Nomor Whatapps" %>
              <%= f.input :nomor_telp, :label => "Nomor Telepon" %>
              <%= f.input :pinbb, :label => "PIN Blackberry" %>
              <%= f.input :facebook, :label => "Facebook" %>
              <%= f.input :blog, :label => "Blog" %>
              <%= f.input :web, :label => "Website" %>
              <%= f.input :tempat_pkl, :input_html => {:width => 30}, :label => "Tempat PKL" %>
              <%= f.input :judul_ta, :input_html => {:rows => 3}, :label => "Judul Tugas Akhir" %>
          </div>
          <div class="span4">
              <%= f.input :nama_instansi_first, :label => "Nama Instansi Pertama Kerja" %>
              <%= f.input :jabatan_first, :label => "Jabatan Pertama Kerja" %>
              <%= f.input :tanggal_masuk_kerja_first, :label => "Tanggal Pertama Kerja", :input_html => { :class => 'datepicker' } %>
              <%= f.input :nama_instansi_last, :label => "Nama Instansi Berikutnya" %>
              <%= f.input :jabatan_last, :label => "Jabatan Berikutnya" %>
              <%= f.input :tanggal_masuk_kerja_last, :label => "Tanggal Kerja Berikutnya", :input_html => { :class => 'datepicker' } %>
          </div>
      </div>
  </div>

  <div class="form-actions">
      <%= f.button :submit %>
  </div>
<% end %>