<div id="role-options-<%= user.id %>" class="modal" style="display: none;">
    <%= simple_form_for user, :url => admin_user_path(user), :html => {:method => :put, :class => 'form-horizontal' } do |f| %>
      <div class="modal-header">
          <a class="close" data-dismiss="modal">&#215;</a>
          <h3>Change Role</h3>
      </div>
      <div class="modal-body">
          <%= f.input :role_ids, :collection => Role.all, :as => :radio_buttons, :label_method => lambda {|t| t.name.titleize}, :label => false, :item_wrapper_class => 'inline', checked: user.role_ids.first %>
      </div>
      <div class="modal-footer">
          <%= f.submit "Change Role", :class => "btn" %>
          <a class="btn" data-dismiss="modal" href="#">Close</a>
      </div>
    <% end %>
</div>
<style type="text/css" media="all">
    .papersetengahA4{
        background-color: White;
        border: 1px dashed #66ff66;
        font-family: "Trebuchet MS",Arial,Tahoma,Verdana;
        height: 55mm;
        padding: 1px;
        width: 85mm;
    }
    .table-borderless td,
    .table-borderless th {
        border: 0;
        padding: 0;
        valign: top;
    }
</style>
<script language="javascript" type="text/javascript">
  function printOut() {
      var getDisplay = document.getElementById("printarea").innerHTML;

      var setPrint = window.open("", "printed", "width=500,height=200,menubar=0,scrollbars=1,statusbar=0");
      setPrint.document.open();
      setPrint.document.write('<html>');
      setPrint.document.write('<head>');
      setPrint.document.write('<meta http-equiv="pragma" content="no-cache">');
      setPrint.document.write("<title>KARTU ALUMNI</title>");
      //setPrint.document.write('<link href="include/cetakkumulatif.css" rel="stylesheet" type="text/css">');
      setPrint.document.write('</head>');
      setPrint.document.write('<body onLoad="self.print()">');
      setPrint.document.write(getDisplay);
      setPrint.document.write('</body></html>');
      setPrint.document.close();
      window.close("", "printed");
  }
</script>
<div id="card-options-<%= user.id %>" class="modal" style="display: none;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&#215;</a>
        <h3>Cetak Kartu Alumni</h3>
    </div>
    <div class="modal-body">
        
    </div>
    <div class="modal-footer">
        <input class="btn" data-dismiss="modal" id="btncetakkhs" value="Cetak" onclick="printOut();" type="button">
        <a class="btn" data-dismiss="modal" href="#">Close</a>
    </div>
</div>

