<div class="page-header">
    <h3>Data Alumni</h3>
</div>
<table>
    <tr>
        <td class="span4">Nomor Alumni Selanjutnya</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</td>
        <td><%= "%04d" % (User.includes(:roles).where("roles.name = 'user'").where(:approved => true).size + 1).to_s %></td>
    </tr>
</table>
<br />
<table class="table table-bordered responsive datatables">
    <thead>
        <tr>
            <th class="span2">NIM</th>
            <th class="span2">NIA</th>
            <th class="span4">Email</th>
            <th class="span5">Nama Alumni</th>
            <th class="span2">Registered</th>
            <th class="span1">Status</th>
            <th class="span2"></th>
        </tr>
    </thead>
    <tbody>
        <% @userslast.each do |user| %>
          <tr>
              <td><%= user.profile.nim rescue nil %></td>
              <td><%= user.profile.nia %></td>
              <td><%= user.email %></td>
              <td><%= user.profile.nama rescue nil %></td>
              <td><%= user.created_at.to_date %></td>
              <td>
                  <% if user.approved == true %>
                    <i class="icon-ok-sign"></i>
                  <% elsif user.approved == false %>
                    <i class="icon-remove-sign"></i>
                  <% end %>
              </td>
              <td>
                  <!--<%#*<a data-toggle="modal" href="#role-options-<%= user.id %>" title="Change Role"><i class="icon-certificate"></i></a>%>
  <%#= render user %>-->
  <%#= link_to '<i class="icon-wrench"></i>'.html_safe, admin_user_reset_password_path(user), 'data-placement' => "top",  'title' => "Reset Password" %>
                  <%= link_to '<i class="icon-thumbs-down"></i>'.html_safe, admin_user_unaproval_path(user), 'data-placement' => "top",  'title' => "Unapprove" %>
  <%#= link_to '<i class="icon-remove"></i>'.html_safe, admin_user_path(user), :data => { :confirm => "Are you sure?" }, 'data-placement' => "top",  'title' => "Delete" unless user == current_user %>
  <%#= link_to '<i class="icon-edit"></i>'.html_safe, edit_admin_user_path(user.profile.id), 'data-placement' => "top",  'title' => "Edit Data" unless user == current_user %>
              </td>
          </tr>
        <% end %>
    </tbody>
</table>
<br/>
<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#belum-aktif" aria-controls="home" role="tab" data-toggle="tab">Data Belum Aktif <span class="badge"><%= @usersfalse.size %></span></a></li>
        <li role="presentation"><a href="#sudah-aktif" aria-controls="profile" role="tab" data-toggle="tab">Data Sudah Aktif <span class="badge"><%= @userstrue.size %></span></a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="belum-aktif">
            <% link_to("Setujui Semua", all_approval_admin_users_path, :class => 'btn btn-primary') %>
            <table class="table table-bordered responsive datatables">
                <thead>
                    <tr>
                        <th class="span2">NIM</th>
                        <th class="span4">Email</th>
                        <th class="span5">Nama Alumni</th>
                        <th class="span2">Registered</th>
                        <th class="span2"></th>
                    </tr>
                </thead>
                <tbody>
                    <% @usersfalse.each do |user| %>
                      <tr>
                          <td><%= user.profile.nim %></td>
                          <td><%= user.email %></td>
                          <td><%= user.profile.nama rescue nil %></td>
                          <td><%= user.created_at.to_date %></td>
                          <td>
                              <a data-toggle="modal" href="#role-options-<%= user.id %>" title="Change Role"><i class="icon-certificate"></i></a>
                              <%= link_to '<i class="icon-wrench"></i>'.html_safe, admin_user_reset_password_path(user), 'data-placement' => "top",  'title' => "Reset Password" %>
                              <%= link_to '<i class="icon-thumbs-up"></i>'.html_safe, admin_user_aproval_path(user), 'data-placement' => "top",  'title' => "Approve" %>
  <%#= link_to '<i class="icon-remove"></i>'.html_safe, admin_user_path(user), :data => { :confirm => "Are you sure?" }, 'data-placement' => "top",  'title' => "Delete" unless user == current_user %>
                              <%= link_to '<i class="icon-edit"></i>'.html_safe, edit_admin_user_path(user.profile.id), 'data-placement' => "top",  'title' => "Edit Data" unless user == current_user %>
                          </td>
                      </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="sudah-aktif">
            <table class="table table-bordered responsive datatables">
                <thead>
                    <tr>
                        <th class="span2">NIM</th>
                        <th class="span2">NIA</th>
                        <th class="span4">Email</th>
                        <th class="span5">Nama Alumni</th>
                        <th class="span2">Registered</th>
                        <th class="span2"></th>
                    </tr>
                </thead>
                <tbody>
                    <% @userstrue.each do |user| %>
                      <tr>
                          <td><%= user.profile.nim %></td>
                          <td><%= user.profile.nia %></td>
                          <td><%= user.email %></td>
                          <td><%= user.profile.nama rescue nil %></td>
                          <td><%= user.created_at.to_date %></td>
                          <td>
                              <a data-toggle="modal" href="#role-options-<%= user.id %>" title="Change Role"><i class="icon-certificate"></i></a>
                                  <%= link_to '<i class="icon-wrench"></i>'.html_safe, admin_user_reset_password_path(user), 'data-placement' => "top",  'title' => "Reset Password" %>
                                  <%#= link_to '<i class="icon-thumbs-up"></i>'.html_safe, admin_user_aproval_path(user), 'data-placement' => "top",  'title' => "Approve" %>
  <%#= link_to '<i class="icon-remove"></i>'.html_safe, admin_user_path(user), :data => { :confirm => "Are you sure?" }, 'data-placement' => "top",  'title' => "Delete" unless user == current_user %>
                                  <%= link_to '<i class="icon-edit"></i>'.html_safe, edit_admin_user_path(user.profile.id), 'data-placement' => "top",  'title' => "Edit Data" unless user == current_user %>
                          </td>
                      </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>

</div>
