<%= simple_form_for(@user) do |f| %>
  <%= f.input :name, :autofocus => true, :label => "Username" %>
  <%= f.input :email, :required => true %>
  <%= f.input :password, :required => true %>
  <%= f.input :password_confirmation, :required => true %>
  <%= f.button :submit, 'Sign up', :class => 'btn-primary' %>
<% end %>