<%= link_to "Tracer Study AMA Yogyakarta", root_path, :class => 'brand' %>
<ul class="nav">
    <% if user_signed_in? %>
      <%#*<li>%>
          <%#= link_to 'Ganti Password', edit_password_path %>
      <%#*</li>%>
      <% if current_user.has_role? :admin %>
        <li>
            <%= link_to 'Data Alumni', admin_users_path %>
        </li>
        <li>
            <%= link_to 'Data Wisuda', admin_books_path %>
        </li>
      <% elsif current_user.has_role? :user %>
        <li>
            <%= link_to 'Perbaiki Profile', profiles_edit_path %>
        </li>
        <li>
            <%= link_to 'Ganti Password', edit_passwords_path %>
        </li>
      <% end %>
    <% else %>
      <li>
          <%= link_to 'Daftar', new_user_registration_path unless user_signed_in? %>
      </li>
    <% end %>
    <% if user_signed_in? %>
      <li>
          <%= link_to 'Keluar', destroy_user_session_path, :method=>'delete' %>
      </li>
    <% else %>
      <li>
          <%= link_to 'Masuk', new_user_session_path %>
      </li>
      <!--<li>
          <%#= link_to 'Verifikasi Data Alumni', verifikasi_users_path %>
      </li>-->
    <% end %>
</ul>
